/* React styling below */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* Application CSS below */

/* Footer */
.footer {
  display: flex;
  font-size: 30px;
}

/* Header */
.header {
  @include white-text-black-bg;
  display: flex;
  justify-content: space-between;


  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 1.2rem;
      cursor: pointer;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}