/* Application CSS below */

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  height: 150px;
  background-color: #F7F7F7;
}

#logo {
  height: 150px;
  width: 230px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: 14px;
  margin-bottom: 1px;
 }

 .githublogo {
  height: 23px;
  width: 23px;
 }

 .linkedinlogo {
  height: 23px;
  width: 23px;
 }

 .emailicon {
  height: 23px;
  width: 23px;
 }

h2 {
  font-size: 16px;
}

p {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}



/* Media query for small screens */
@media screen and (max-width: 768px) {
  .link-text {
    display: none;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
}












/* React styling below */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
