.portfoliolink {
    font-size: 18px;
}

.resumelink {
    font-size: 18px;
    margin-right: 4%;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
.dark-mode {
    background-color: #000000;
    color: #ffffff;
  }