.h2 {
    font-size: 14px;
}

.grid-container{
    display: inline-grid;
    gap: 50px;
    width: 300px;
  }

/* Circles */

  .job1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }
  
  
  .job2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

  .job3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

  .job4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

  .job5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

  .job6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

/* Circle placement on screen  */

  .secondrow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .fourthrow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .sixthrow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

/* Text */

  .job1text {
    word-wrap: break-word; 
  }

  .job2text {
    word-wrap: break-word; 
  }

  .job3text {
    word-wrap: break-word; 
  }

  .job4text {
    word-wrap: break-word; 
  }

  .job5text {
    word-wrap: break-word; 
  }

  .job6text {
    word-wrap: break-word;
  }


/* Effects */


.job1.active {
  transform: scale(1.4);
  margin-left: 30%;
  align-items: center;
  margin-top: 10%;
}

.job2.active {
  transform: scale(1.4);
  align-items: center;
  margin-top: 10%;
  margin-right: 30%;
}

.job3.active {
  transform: scale(1.4);
  margin-left: 30%;
  align-items: center;
  margin-top: 10%;
}

.job4.active{
  transform: scale(1.4);
  align-items: center;
  margin-top: 10%;
  margin-right: 30%;
}

.job5.active {
  transform: scale(1.4);
  margin-left: 30%;
  align-items: center;
  margin-top: 10%;
}

.job6.active {
  transform: scale(1.4);
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 30%;
}






/* Media Queries */
@media (max-width: 768px) {

  .jobtext {
    font-size: 10px;
  }

  .job1.active {
    margin: 10% auto; /* Adjust the margins for centering */
  }
  .job2.active {
    margin: 10% auto; /* Adjust the margins for centering */
  }
  .job3.active {
    margin: 10% auto; /* Adjust the margins for centering */
  }
  .job4.active {
    margin: 10% auto; /* Adjust the margins for centering */
  }
  .job5.active {
    margin: 10% auto; /* Adjust the margins for centering */
  }
  .job6.active {
    margin: 10% auto; /* Adjust the margins for centering */
  }
}








/* 
.job1:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.job2:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.job3:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.job4:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.job5:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.job6:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
} */
  
  
  