.h2 {
    font-size: 14px;
}

.grid-container{
    display: inline-grid;
    gap: 50px;
    width: 300px;
  }

/* Circles */

  .job1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
  }
  
  
  .job2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
  }

  .job3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
  }

  .job4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
  }

  .job5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
  }

  .job6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    background-color: #fcefc9;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
  }

/* Circle placement on screen  */

  .secondrow {
    display: flex;
    flex-direction: row-reverse;
  }

  .fourthrow {
    display: flex;
    flex-direction: row-reverse;
  }

  .sixthrow {
    display: flex;
    flex-direction: row-reverse;
  }

/* Text */

  .job1text {
    word-wrap: break-word; 
  }

  .job2text {
    word-wrap: break-word; 
  }

  .job3text {
    word-wrap: break-word; 
  }

  .job4text {
    word-wrap: break-word; 
  }

  .job5text {
    word-wrap: break-word; 
  }

  .job6text {
    word-wrap: break-word; 
  }


/* Effects */


  .job1:hover:hover {
    transform: scale(1.5);
    display: flex;
    align-items: center;
  }